.search-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;

}

.input-search {
    width: 3+00px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 5px;
    width: 300px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px black;
    transition: 0.1s linear;
    background-color: transparent;


}

.input {
    margin: 0;
    

}
.input-search::placeholder{
color: black;
}