.Menu {

    list-style: none;
    width: 150px;
}
.Menu-panel{
    position: fixed;
    top: 100px;
    border-radius: 180%;
    gap: 10px;
    width: 130px;
    left:900px;
    height: 130px;
    background-color:#f9e68e;
    border-style: dashed;
    border-color: black;

}
